<div ng-controller="footerCtrl" style="background-color: #f4f4f4">
    <div class="footer">
        <br>
        <div class="container">
            <div class="col-md-4 col-sm-7 col-xs-7 footer-1">
                <a href="/"><img ng-src="{{urlImage}}{{contacts.company_logo}}" class="img img-responsive" alt="Foundation"></a>
                <br>
                <p><span class="fa fa-map-marker img-thumbnail img-circle"> </span> {{contacts.company_address1_vi}}</p>
                <p><span class="fa fa-phone img-thumbnail img-circle"> </span> {{contacts.company_phone}}</p>
                <p><span class="fa fa-envelope img-thumbnail img-circle"> </span> {{contacts.company_email}}</p>
            </div>
            <div class="col-md-2 col-sm-5 col-xs-5 footer-2">
                <h5>THÔNG TIN </h5>
                <br>
                <ul>
                    <li><a href="/">Trang chủ</a></li>
                    <li><a href="/gioi-thieu">Giới thiệu</a></li>
                    <li><a href="/tat-ca-san-pham">Sản phẩm</a></li>
                    <li><a href="/lien-he">Liên hệ</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 footer-2">
                <h5>DỊCH VỤ HỖ TRỢ</h5>
                <br>
                <ul>
                    <li><a>Hướng dẫn mua hàng</a></li>                   
                    <li><a>Quyền sở hữu trí tuệ</a></li>
                    <li><a>Dịch vụ tiện ích</a></li>
                    
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 footer-2">
                <h5>CHÍNH SÁCH ƯU ĐÃI</h5>
                <br>
                <ul>
                    <li><a>Chính sách thanh toán</a></li>
                    <li><a>Chính sách vận chuyển</a></li>
                    <li><a>Chính sách đổi trả</a></li>
                    <li><a>Chính sách bảo hành</a></li>
                </ul>
            </div>
        </div>
        <br>
    </div>
    <div class="container">
        <br>
        <p>© Foundation được cung cấp bởi A2HOT</p>
        <br>
    </div>
</div>
<button class="w3-btn w3-deep-orange w3-hover-red" href="javascript:;" onclick="page_scroll2top()"><i class="fa fa-angle-up"></i></button>
