body, html, a, p, h1, h2, h3, h4, h5 {
    font-family: 'Roboto', Arial, sans-serif;
}
/*scroll bar*/
.w3-hover-red
{
    display: none;
    position: fixed;
    z-index: 999;
    right: 2%;
    bottom: 4%;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px;
}

.container {padding-right: 0;padding-left: 0}
a:hover {text-decoration: none ;cursor: pointer}
.ngloading {
    text-align:center;
    background-color: transparent;
    padding:50px
}

.headerTop {background-color: #ef5d0d; padding: 10px 0 ;color: white}
.headerTop div a {padding: 0 15px ;color: white}
.headerTop div a:hover {color: #0eb2ef ;}
.headerTop .input-group button {    
    border: 0px;
    outline: 0px;
    padding: 0px;
    display: block;
    width: 30px;
    background: transparent;
}
.headerTop .input-group input {
    width: 100%;
    background: transparent;
    border: 0px;
    color: #fff;
    outline: 0px;
}
.headerTop .input-group ::-webkit-input-placeholder { color: white}
.headerTop .input-group :-moz-placeholder { color: white}
.headerTop .input-group ::-moz-placeholder { color: white}
.headerTop .input-group :-ms-input-placeholder { color: white}

.headerMiddle {padding: 20px 0}
.headerMiddle .mid-2 {padding: 0}
.headerMiddle .mid-1 img {width: 70%}
/*.headerMiddle .mid-3 .shoppingcart .num-products i {background-color: #0eb2ef;padding: 15px 20px;color: white;border-radius: 3px}*/

.mini-cart .shoppingcart, .mid-2 .navbar ,.mid-1 {
    padding: 10px 0;
}
.mini-cart .shoppingcart i.fa{
    background-color: #ef5d0d;
    padding: 12px;
    border-radius: 20px;
    color: white;
}
.mini-cart .shoppingcart {
    text-align: center;
    border-left: 1px solid gainsboro;
    border-right: 1px solid gainsboro;
}

.mini-cart .shoppingcart a.num-products {
    color:#666
}

.checkod tr {
    border-bottom:1px solid #dcdcdc
}

.checkod tr td div {
    margin-bottom:5px
}

.checkod tr td a p {
    font-size:12pt;
    font-weight:500
}

#center {text-align: center; padding: 35px 0px}
.shoppingcart ul.dropdown-menu table.cart p {
    font-size:12pt;
    margin:0 10px;
    line-height:1.3
}

.shoppingcart ul.dropdown-menu table.cart img {
    float:left;
    width:50px;
    margin-right:10px
}

.shoppingcart ul.dropdown-menu {
    width:300px;
    padding:5px;
    left:-90%;
}

div.dropdown:hover ul.dropdown-menu {
    display:block;
    margin:0;
    -webkit-animation:fadein .3s;
    -ms-animation:fadein .3s;
    animation:fadein .3s
}

@keyframes fadein {
    from {
        opacity:0
    }

    to {
        opacity:1
    }
}

@-webkit-keyframes fadein {
    from {
        opacity:0
    }

    to {
        opacity:1
    }
}

@-ms-keyframes fadein {
    from {
        opacity:0
    }

    to {
        opacity:1
    }
}

.navbar {background-color: transparent ;border-color: transparent; font-weight: bold; font-size: 14px}
.navbar-default .navbar-nav>li>a {color: black}
.nav>li>a {padding: 10px 13px}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover ,.navbar-default .navbar-nav>li>a:hover{color: #ef5d0d; background-color: transparent;}
.navbar-nav .dropdown-menu {   
    width: 256px;
    border-top: 0px;
    z-index: 2000;
    background: #ef5d0d;
    opacity: 0.9;
}
.mid-2 .dropdown-menu>li>a { padding: 20px;color: #fff; border-bottom: 1px solid #ecbd61}
.mid-2 .dropdown-menu>li>a:focus,.mid-2 .dropdown-menu>li>a:hover {background-color: #f2742f}
@media screen and (min-width: 769px) {
    ul.nav li.dropdown:hover > ul.dropdown-menu {
        display: block;
        margin: 0;
    }
}
#flyout_menu .fl-menu h2, #right-menu .rt-menu h2, .prodseles h1, .partners h4, .left-menu h1 { font-size: 18px; margin: 0; font-weight: bold }
#flyout_menu .fl-mn li a h1 { font-size: 15px; margin: 5px 0}
#flyout_menu{
    font-weight:500;
    z-index:999;
    margin-bottom: 20px
}

#flyout_menu ul,#flyout_menu li,#right-menu li {
    list-style:none;
    margin:0;
    padding:0
}

#flyout_menu ul li.hover,#flyout_menu ul li:hover {
    position:relative;
    z-index:599
}

#flyout_menu ul ul {
    visibility:hidden;
    position:absolute;
    top:100%;
    left:0;
    z-index:598
}

#flyout_menu ul li:hover > ul {
    visibility:visible
}

#flyout_menu ul ul {
    top:0;
    left:100%;
    width:100%
}

#flyout_menu span,#flyout_menu a {
    display:inline-block;
    text-decoration:none
}

#flyout_menu li{
    background: #252525;
}

#flyout_menu li:hover,#flyout_menu li.active,#flyout_menu>ul>li>a:hover {
    color: #ef5d0d;
}

#flyout_menu a {
    color: #acacac;
    line-height:160%;
    padding:18px;
    width:100%;
    font-weight:500
}

#flyout_menu ul ul li {
    background:#ececec
}

.fl-mn>li,.fl-mn ul li a{
    border-top: 1px solid #363636
}

.fl-mn>li>ul {
    border:1px solid #f5deb3
}

#flyout_menu ul ul li a:hover {
    color:#fff
}

#flyout_menu .fl-menu, .rt-menu-2 h1, .shopping-cart h1{
    color:#fff;
    line-height:160%;
    padding:16px;
    width:100%;
    background-color: #252525;
    margin-bottom:0;
    font-size: 13pt
}

#right-menu .btq ,.prodseles .btq, .list-prods .btq { display:none}
#right-menu .rt-mn {border: 1px solid gainsboro ;border-top: none ;margin-bottom: 30px}
#right-menu h5 ,.prodseles h5, .list-prods h5 {
    color:#ed1b2f;
    font-size:12pt;
    font-weight:bold;
}
#right-menu h5 span, .prodseles h5 span, .list-prods h5 span{
    color:#bdbdbd;
    font-size:11pt;
    text-decoration:line-through;
}
#right-menu .rm-body .name-prod, .prodseles .name-prod, .list-prods .name-prod {font-size: 12pt ;font-weight: bold}
#right-menu .rm-body .name-prod:hover ,#right-menu .rm-body .link-detail:hover, .prodseles .name-prod:hover, .list-prods .name-prod:hover {color: #ef5d0d}
#right-menu .rm-body .link-detail {margin: 70px 0 20px ;display: block}
#right-menu .rm-body .addbtn {background-color: gainsboro; padding: 10px 30px}
#right-menu .rm-body .addbtn:hover {background-color: #ef5d0d ;color: white}
#right-menu .rt-mn .rm-body {
    border-bottom: 1px solid gainsboro;
    margin: 0;
    padding: 15px;
}
.rt-menu, .prodseles h1 ,.partners h4, .left-menu h1 {
    border: 1px solid gainsboro;
    padding: 15px;
    border-left: 5px solid #ef5d0d;
    margin: 0
}


.service {border-bottom: 1px solid gainsboro; padding: 20px 0; margin-bottom: 40px}
.service .ser2 span {padding: 10px 14px ;background-color: #ef5d0d ;color: white ;-ms-transition: -ms-transform 0.5s; -webkit-transition: -webkit-transform 0.5s; transition: transform 0.5s;}
.service .ser2 :hover span {-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);}
.service .ser2 {text-align: center }

.left-menu .thumbnail {margin-bottom: 0; border-radius: 0}
.list-prods .link-detail{ margin-right: 10px;}
.prodseles ,.list-prods {position: relative}
.prodseles h5 {margin-bottom: 40px}
.prodseles .link-detail{ float: left; margin-right: 10px;}
.prodseles .link-detail i ,.prodseles .addbtn i, .list-prods .link-detail i, .list-prods .addbtn i {
    background-color: #ef5d0d;
    padding: 14px;
    color: white;
}
.prodseles .item {
    border: 1px solid gainsboro;
    border-top: none;
    margin: 0;
    padding: 25px 0;
}
.prodseles .owl-buttons { position: absolute; top: -45px; right: 40px;}
.prodseles .owl-theme .owl-controls .owl-buttons div { padding: 6px 13px; background-color: #ef5d0d; color: white;}
.product-item-sale {
    position: absolute;
    top: 0;
    display: block;
    z-index: 7;
    height: 50px;
    width: 50px;
    background: url(../images/km.png) no-repeat top center ;
}

.partners .par-1 h4, .partners .par-1 .p1 {background-color: #252525 ;color: white}
.partners .par-2 .p2 {border: 1px solid gainsboro ;border-top: none; padding: 25px 15px}
.partners .par-1 h5 img{transition: transform 0.5s;}
.partners .par-1 h5:hover img {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
.partners a {color: #ef5d0d}
.partners .par-1 div {
    border: 1px solid gainsboro;
    border-top: none;
    padding: 20px 13px;
}

.titles {
    background: rgb(238,238,238);
    padding: 20px 0;
    margin-bottom: 40px;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
}
.titles h1 {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
}
.titles form {padding-left: 20px}

.detprod .detp1 { padding: 30px;}
.detprod .detp2 { padding-bottom: 30px;}
.detprod .detp1, .detprod .detp2 {
    box-shadow: 0 0 8px #cccccc;
    margin: 0 0 15px;
    font-size: 12pt;
    line-height: 30px;
}

.detprod .detp1 p strong {
    color:#ef8100
}

.detprod .detp1 h4 {
    font-size:17pt;
    font-weight:500;
    color:#ed1b2f
}

.detprod .detp1 h2 {
    font-size:25pt;
    font-weight:700
}

.detprod .detp1 input {
    width:50%;
    text-align:center;
    margin:10px 0;
    border-radius:50px
}

.detprod .detp1 i span {
    color:#ccc;
    font-size:13pt;
    text-decoration:line-through
}

.detprod .detp1 .btq {margin-bottom: 20px}
.detprod .detp1 .addbtn {
    background-color: #ef5d0d;
    padding: 12px 30px;
    border-radius: 25px;
    color: white;
}

md-tabs .md-tab.md-active {
    color: #0eb2ef
}

md-tabs md-ink-bar {
    color: #0eb2ef;
    background: #0eb2ef
}

.detprod input[type=text]:focus:not([readonly]) {
    border-color:#ed1b2f;
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 2px 4px rgba(237,27,47,.6);
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 2px 4px rgba(237,27,47,.6);
    -moz-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 2px 4px rgba(237,27,47,.6)
}

.footer {border-top: 1px solid gainsboro;border-bottom: 1px solid gainsboro ;margin-top: 50px}
.footer-1 h5, .footer-2 h5 {font-weight: bold ;color: black}
.footer-1 h4 {color: #0eb2ef}
.footer-1 span {margin-right: 10px ;color: white; padding: 10px 15px; background-color: #ef5d0d}
.footer-2 ul {list-style: none; padding: 0}
.footer-2 ul li {line-height: 30px}
.footer-2 ul li a {color: #969696}
.footer-2 ul li a:hover {color: #ef5d0d}

@media screen and (max-width: 1200px) {
    .headerMiddle .mid-1 img {width: 100%}
    #right-menu .rt-mn li { padding: 5px 30px 10px 30px;}
    .shoppingcart ul.dropdown-menu { left: -138%;}
    .right-mn .addbtn, .prods-1 .addbtn { left: 15%;}
    .right-mn a, .prods-1 a { left: 15%; top: 57%;}
    .service .ser1 { margin: 20px 10px;}
    .prodseles h1, .rt-menu-2 h1, .shopping-cart h1 { font-size: 11pt;}

}
@media screen and (max-width: 992px) {
    .mid-1 {text-align: center}
    .headerMiddle .mid-1 img {width: 40%}
    .navbar-collapse {padding: 0}
    .par-1 {margin-bottom: 40px}
    .shoppingcart ul.dropdown-menu { left: -94%;}
    .nav li {padding: 0;}
    #flyout_menu {text-align: center}
    .slider {padding-left: 50px; padding-right: 50px ;margin-bottom: 50px}
    .right-mn .img-responsive {display: initial;}
    .right-mn .addbtn, .prods-1 .addbtn { left: 40%;}
    .right-mn a { left: 40%; top: 43%;}
    .prods-1 a { left: 40%; top: 56%;}
    .service { padding: 20px;}
    .service .ser1 { margin: 0px 10px;}
}

@media screen and (max-width: 768px) {
    .prodseles .prods-1 a { left: 36%; top: 50%}
    .mid-1 {text-align: left}
    .mini-cart .shoppingcart {text-align: left; border: none}
    .shoppingcart ul.dropdown-menu {left: -45%}
    .headerMiddle {position: relative}
    .headerMiddle .mid-1 img {width: 255px}
    .headerMiddle .mid-2 {position: absolute}
    .headerMiddle .mid-1, .headerMiddle .mid-3 {z-index: 999}
    .mid-2 .navbar {padding: 5px 0; z-index: 99; margin: 0}
    .mid-2 .navbar-collapse {margin-top: 10px}
    .mid-2 .navbar-collapse ul.navbar-nav {margin: 0; text-align: center; background-color: #f4f4f4}
    .mid-2 .dropdown-menu>li>a {text-align: center ;border: none}
    .service .ser2 {text-align: left}
    .images img {float: left; width: 50%; margin-bottom: 20px;}
}

@media screen and (max-width: 700px) {
    .titles p { font-size: 3.5em;}
}
@media screen and (max-width: 638px) {

}
@media screen and (max-width: 585px) {
    .titles p { font-size: 2.8em;}
    .shoppingcart ul.dropdown-menu {left: -75%}
    .headerMiddle .mid-1 img {width: 215px}
}
@media screen and (max-width: 468px) {
    .mid-3 {width: 37.66666667%}
    .shoppingcart ul.dropdown-menu {left: -95%}
    #right-menu .rm-body .name-prod, .prodseles .name-prod, .list-prods .name-prod,
    #right-menu h5, .prodseles h5, .list-prods h5 {font-size: 11pt}
    #right-menu .rm-body .link-detail {margin:40px 0 20px }
    .prodseles .link-detail i, .prodseles .addbtn i, .list-prods .link-detail i, .list-prods .addbtn i {padding: 10px}
}
@media screen and (max-width: 437px) {
    .headerMiddle .mid-1 {width: 100% ;text-align: center;display: block}
    .headerMiddle .mid-2 {top: 65px}
    .shoppingcart ul.dropdown-menu {left: 0}
    .mid-3 {width: 50.66666667%}
}
@media screen and (max-width: 367px) {
    .prodseles .owl-buttons {right: 0}
    .service .ser2 span {padding: 8px 12px}
    .shoppingcart ul.dropdown-menu {left: -10px}
    #right-menu .rm-body .addbtn {padding: 8px 14px;}
    #right-menu .rt-mn .rm-body {padding: 20px 0;}
}